<h1> Contacts </h1>

<ul>
  <%@contacts.each do |contact| %>
    <h3><div>Full Name: <%=contact.full_name%></div></h3>
    <li>Contact ID: <%=contact.id%></li>
    <li>Email: <%=contact.email%></li>
    <li>Note: <%=contact.note%></li>
    <div></div>
  <%end%>
</ul>

<a href='/'>Home</a>
