<div>
  There are <span><%=@contacts.length%></span> contacts.
</div>


<ul>
  <%@contacts.each do |contact| %>
    <div>
      <span>
          <h3><%=contact.full_name%> (<%=contact.email%>)</h3>
      </span>
    <ul>
      <a href='#'>Edit</a>
      |
      <a href='#'>Delete</a>
    </ul>
  </div>
  <%end%>
</ul>
